* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.calculator-controller {
    margin: 50px auto 0 auto;
    padding: 5px;
    width: 500px;
    background: linear-gradient(to right, #090909, #3C3C3C);
}

#calculator {
    width: 100%;
    display: block;
    font-size: 55px;
    text-align: right;
    padding: 5px;
    background: linear-gradient(to right, #090909, #3C3C3C);
    color: #fff;
    outline: none;
    border: none;
}

#calculator::placeholder {
    color: orange;
}

.btn-group {
    width: 100%;
    height: 500px;
    display: grid;
    background: linear-gradient(to right, #090909, #3C3C3C);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 3px;

}

.btn {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: #8F8F8F;
    font-weight: bold;
    font-size: 30px;
}

.btn-light {
    background: linear-gradient(to right, #232323, #282828);
}

.btn-dark {
    background: linear-gradient(to right, #1A1A1A, #252525);
}

.btn-yell {
    background: linear-gradient(to right, #FFBB01, #FFCB11);
    color: #585858f5;
}